# Raw and processed MRI data
subjects/
raw_data/
derivative/
structural_connectomes/

# Environments

.venv/
env/

# Neuroimaging outputs
*.mif
*.nii
*.nii.gz
*.tck
*.trk
*.mgz

# Logs
logs/

# macOS
.DS_Store

.vscode/
images/